* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url("./images/christmas-2948851.png")
}
